* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.box {
  padding: 48px 32px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.box-alter {
  padding: 48px 32px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 16px;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  letter-spacing: 1.15px;
  font-size: 22px;
}

.title::after {
  content: '';
  display: block;
  padding-top: 16px;
  width: 60px;
  border-bottom: 2px solid #333;
}

/* *************** */
/* HEADER */
/* *************** */
.header {
  display: flex;
  gap: 30px;
  padding: 50px 30px 0 30px;
}

.avatar {
  max-width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f3ef;
}

.avatar__img {
  width: 100%;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
}

.name {
  margin: 0;
  max-width: 200px;
  font-size: 42px;
  line-height: 36px;
  letter-spacing: 1.3px;
}

.role {
  padding-top: 16px;
  font-weight: 400;
  line-height: 1;
}

.summary {
  max-width: 500px;
  padding-top: 24px;
  padding-bottom: 16px;
}

.description {
  padding-top: 16px;
}

/* *************** */
/* MAIN */
/* *************** */
.main {
  display: flex;
  gap: 30px;
  padding: 50px 30px;
}

.aside {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  flex-shrink: 0;
}

.contacts {
  background-color: #faeee1;
}

.education {
  background-color: #faeceb;
}

.work-experience {
  background-color: #f7f3ef;
}
